<tr class="table-row alterne-row item" data-blessure-type="{{gravite}}" data-attribute={{key}} data-blessure-index="{{key}}" >
  <td class="item-control blessure-control" title="Blessure {{title}}" data-blessure-active="{{bless.active}}">
    {{#if bless.active}}
    <i class="fas fa-skull-crossbones blessure-active-{{gravite}}"></i>
    {{!--   <i class="fas fa-first-aid"></i> --}}    
    {{!--   <i class="fas fa-plus-square"></i> --}}    
    {{else}}
    {{!--    <i class="fas fa-genderless"></i>    --}}    
      <i class="fas fa-skull-crossbones blessure-inactive"></i>
    {{/if}}
  </td>
  <td>
    <input class="blessures-soins" type="text" name='localisation' data-dtype="String" value="{{bless.loc}}"/>
  </td>
  <td>
    <input class="blessures-soins" type="text" name='premiers_soins' data-dtype="number" value="{{bless.premiers_soins}}"/>
  </td>
  <td>
    <input class="blessures-soins" type="text" name='soins_complets' data-dtype="number" value="{{bless.soins_complets}}"/>
  </td>
  <td>
    <input class="blessures-soins" type="text" name='jours' data-dtype="number" value="{{bless.jours}}"/>
  </td>
</tr>
