<img class="chat-icon" src="systems/foundryvtt-reve-de-dragon/icons/competence_legendes.png" alt="Rêve de Dragon"/>
<h4 data-categorie="tmr" data-actor-id="{{actor._id}}">
  {{alias}} tente de maîtriser un Rêve de Dragon!
</h4>
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
<hr>
<span>
{{#if rolled.isSuccess}}
  Vous maîtrisez le Rêve de Dragon! Vous gagnez ses {{rencontre.force}} points de Rêve.
  {{#if tete}}
    <br>Vous devez <strong>demander au Gardien des Rêves</strong> de faire un tirage sur une des
    tables des têtes de dragon (Haut-rêvant ou Tous personnages).
  {{/if}}
{{else}}
  Vous ne parvenez pas à vaincre le Rêve de Dragon, et prennez un violent coup de queue.
  Vous subissez {{#if rolled.isETotal}}deux queues{{else}}une queue{{/if}} de dragon!
  {{#each queues as | queue key|}}
  <br>{{queue.name}}: {{{queue.data.data.description}}}
  {{/each}}
{{/if}}
</span>
{{#if poesie}}
<hr>
<span class="poesie-extrait">
  {{{poesie.extrait}}}
  <p class="poesie-reference">{{poesie.reference}}</p>
</span>
{{/if}}
