{{#if description}}
<hr>
<span class="poesie-extrait">
  {{{description}}}
  {{#if reference}}
  <p class="poesie-reference">{{reference}}</p>
  {{/if}}
</span>
{{else if reference}}
<hr>
<span class="poesie-extrait">
  <p class="poesie-reference">{{reference}}</p>
</span>
{{/if}}
