<img class="chat-icon" src="{{competence.img}}" alt="{{competence.name}}"/>
<h4 data-categorie="tmr" data-actor-id="{{actor._id}}">
  {{alias}} tente de {{maitrise.verbe}} {{le tmr.genre}} {{tmr.label}} ({{tmr.coord}})
</h4>
{{#if previous}}
  {{#with previous}}
    {{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
    <br><strong>Double résistance du fleuve!</strong><br>
  {{/with}}
{{/if}}
{{> "systems/foundryvtt-reve-de-dragon/templates/chat-infojet.html"}}
<hr>
<span>
{{#if rolled.isSuccess}}
  {{alias}} parvient à {{maitrise.verbe}} {{le tmr.genre}} {{tmr.label}} !
  {{else}}
  {{alias}} ne parvient pas à {{maitrise.verbe}} {{le tmr.genre}} {{tmr.label}}.
  {{alias}} <strong>quitte les Terres Médianes</strong> !
  {{#if souffle}}
    <br>De plus, l'échec total de {{alias}} lui fait subir un Souffle de Dragon : {{souffle.name}}
  {{/if}}
{{/if}}
</span>
{{#if poesie}}
<hr>
<span class="poesie-extrait">
  {{{poesie.extrait}}}
  <p class="poesie-reference">{{poesie.reference}}</p>
</span>
{{/if}}
