<option value="apparence">Apparence</option>
<option value="constitution">Constitution</option>
<option value="force">Force</option>
<option value="agilite">Agilité</option>
<option value="dexterite">Dextérité</option>
<option value="vue">Vue</option>
<option value="ouie">Ouïe</option>
<option value="odoratgout">Odorat-Gout</option>
<option value="volonte">Volonté</option>
<option value="intellect">Intellect</option>
<option value="empathie">Empathie</option>
<option value="reve">Rêve</option>
<option value="chance">Chance</option>
<option value="melee">Mêlée</option>
<option value="tir">Tir</option>
<option value="lancer">Lancer</option>
<option value="derobee">Dérobée</option>
