{{#if ajustements.encTotal.visible}}
<div class="form-group">
  <label>Appliquer l'encombrement total comme malus ({{encTotal}}) ? </label>
  <input class="attribute-value" type="checkbox" id="ajustements-encTotal-apply"
   name="ajustements.encTotal.apply"  {{#if ajustements.encTotal.apply}}checked{{/if}}/>
</div>
{{/if}}
