<form class="skill-roll-dialog">
  <h2 class="compdialog" id="compdialogTitle"></h2>
  <div class="form-group">
    <label>Difficulté libre</label>
    <select name="diffLibre" id="diffLibre" data-dtype="number">
      {{#select diffLibre}}
      {{#each difficultesLibres as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
    </select>
    <label>conditions</label>
    <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
    </select>
    <label class="diffMoral">Moral: {{#if (gt moral 0)}}+{{/if}}{{moral}}</label>
    <div class="tooltipAppelAuMoral divAppelAuMoral">
      <img class="imgAppelAuMoral small-button-container"
        src="/systems/foundryvtt-reve-de-dragon/icons/moral-neutre.svg">
      <span class="tooltipAppelAuMoralText">Sans appel au moral</span>
    </div>
  </div>
  {{>"systems/foundryvtt-reve-de-dragon/templates/dialog-roll-surenc.html"}}
  <div id="tableAjustements">
  </div>
  <div id="tableResolution">
  </div>
  <div id="tableProbaReussite">
  </div>
</form>

<script>
</script>