{{#if surencMalusFlag}}
<div class="form-group">
  <label for="xp">Appliquer le malus de sur-encombrement ? </label>
  <input class="attribute-value" type="checkbox" id="useMalusSurenc" name="useMalusSurenc"  {{#if useMalusSurenc}}checked{{/if}}/>
</div>
{{/if}}
