<form class="dialog-roll-sort">
<div class="form-group">
  <label>Rêve : <label>{{numberFormat selectedCarac.value decimals=0 sign=false}}</label></label>
  <label>TMR : {{tmr.label}} ({{tmr.coord}})</label>
</div>

<div class="form-group">
  <label>Draconic </label>
  <select name="draconic" id="draconic" data-dtype="String">
      {{#select draconic}}
      {{#each draconicList as |draconic key|}}
      <option value={{key}}>{{draconic.name}} : {{draconic.data.niveau}}</option>
      {{/each}}
      {{/select}}
  </select>
  <label> &nbsp;Conditions</label>
  <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
</div>

<div class="form-group">
  <label>Sort </label>
  <select name="sort" id="sort" data-dtype="String">
      {{#select sort}}
      {{#each sortList as |sort key|}}
      <option value={{key}}>{{this.name}} - {{#if this.data.caseTMRspeciale}} {{this.data.caseTMRspeciale}} {{else}}{{this.data.caseTMR}}{{/if}} / R{{this.data.difficulte}} r {{sort.data.ptreve}} ({{sort.data.draconic}})</option>
      {{/each}}
      {{/select}}
  </select>
</div>

<div class="form-group" id="div-sort-difficulte">
  <label>Difficulté </label>
  <select name="diffLibre" id="diffLibre" data-dtype="number">
    {{#select diffLibre}}
    {{#each difficultesLibres  as |key|}}
    <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
    {{/each}}
  {{/select}}
  </select>
</div>

<div class="form-group" id="div-sort-ptreve">
  <label>Couts en Points de Rêve </label>
  <select name="ptreve-variable" id="ptreve-variable" data-dtype="number">
    {{#select ptreve-variable}}
    {{#each coutreve as |cout key|}}
    <option value={{cout}}>{{cout}}</option>
    {{/each}}
    {{/select}}
  </select>
</div>

<div id="tableAjustements">
</div>
<div id="tableResolution">
</div>
<div id="tableProbaReussite">  
</div>
</form>

<script>
</script>
