<form class="skill-roll-dialog">
<h2 class="compdialog" id="compdialogTitle"></h2>
<div class="form-group">
  <label>Caractéristique </label>
  <select name="carac" id="carac" data-dtype="String">
      {{#select carac}}
      {{#each carac as |caracitem key|}}
      <option value={{key}}>{{caracitem.label}}</option>
      {{/each}}
      {{/select}}
  </select>

  <label class="diffMoral">Moral: {{#if (gt moral 0)}}+{{/if}}{{moral}}</label>
  <div class="tooltipAppelAuMoral divAppelAuMoral">
    <img class="imgAppelAuMoral small-button-container" src="/systems/foundryvtt-reve-de-dragon/icons/moral-neutre.svg">
    <span class="tooltipAppelAuMoralText">Sans appel au moral</span>
  </div>
</div>
<div class="form-group">
  {{#if attackerRoll}}
  <label>Difficulté</label>
  <label>{{diffLibre}}</label>
  {{else}}
  <label>Difficulté libre</label>
  <select name="diffLibre" id="diffLibre" data-dtype="number" {{#unless use.libre}}disabled{{/unless}}>
      {{#select diffLibre}}
      {{#each difficultesLibres as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
  {{/if}}
  <label>&nbsp;&nbsp;Conditions</label>
  <select name="diffConditions" id="diffConditions" data-dtype="number" {{#unless use.conditions}}disabled{{/unless}}>
      {{#select diffConditions}}
      {{#each ajustementsConditions  as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
  </select>
</div>
{{#if arme}}
  <div class="form-group">
    {{#if attackerRoll}}
      {{#if attackerRoll.tactique}}
      <label>Tactique: {{attackerRoll.tactique}}</label>
      {{/if}}
      <label>D&eacute;gats:</label><label id="dmg-arme-actor"></label>
      <label></label>
    {{else}}
    <span class="tooltip">
      <label>Tactique:</label>
        <select name="tactique-combat" id="tactique-combat" data-dtype="String" {{#unless use.conditions}}disabled{{/unless}}>
          <option value="Attaque normale">Attaque normale</option>
          <option value="charge">Charge</option>
          <option value="feinte">Feinte</option>
        </select>
        <div class="tooltiptext ttt-ajustements">
          <div>
            <strong>Charge</strong> : Les longueurs d'armes n'interviennent pas dans la charge, il faut gérer une initiative aléatoire dans ce cas.
            <br><strong>Feinte</strong> : Vous devez avoir l'initative sur votre adversaire et y renoncer.
          </div>
        </div>
      </span>
      <label>D&eacute;gats:</label><label id="dmg-arme-actor"></label>
      <label>Non Mortel</label>
      <input class="attribute-value" type="checkbox" id="coupsNonMortels" name="coupsNonMortels"  {{#if coupsNonMortels}}checked{{/if}}/>
    {{/if}}
    {{#if ajustements.attaqueDefenseurSurpris.used}}
    <label id="defenseur-surprise">{{ajustements.attaqueDefenseurSurpris.label}}</label>
    {{/if}}
  </div>
{{/if}}

{{>"systems/foundryvtt-reve-de-dragon/templates/dialog-roll-surenc.html"}}
{{>"systems/foundryvtt-reve-de-dragon/templates/dialog-roll-enctotal.html"}}

<div id="tableAjustements">
</div>
<div id="tableResolution">
</div>
<div id="tableProbaReussite">  
</div>

</form>

<script>
</script>
