<form class="dialog-roll-danse">
  <div class="form-group">
    <ul>
      <li><label>Danse : {{oeuvre.name}}</label></li>
      <li><label>Jet : APPARENCE ou AGILITE / {{competence.name}}</label></li>
    </ul>
  </div>

  <div class="form-group">
    <label>Caractéristique</label>
    <select name="carac" id="carac" class="select-diff" data-dtype="String">
      {{#select carac}}
      {{#each carac as |caracitem key|}}
      <option value={{key}}>{{caracitem.label}}</option>
      {{/each}}
      {{/select}}
    </select>
    <div class="tooltipAppelAuMoral divAppelAuMoral">
      <img class="imgAppelAuMoral small-button-container" src="/systems/foundryvtt-reve-de-dragon/icons/moral-neutre.svg">
      <span class="tooltipAppelAuMoralText">Sans appel au moral</span>
    </div>
  </div>

  <div class="form-group">
    <label>conditions</label>
    <select name="diffConditions" id="diffConditions" data-dtype="number">
      {{#select diffConditions}}
      {{#each ajustementsConditions as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
    </select>
    <label>Difficulté </label>
    <select name="diffLibre" id="diffLibre" data-dtype="number">
      {{#select diffLibre}}
      {{#each difficultesLibres as |key|}}
      <option value={{key}}>{{numberFormat key decimals=0 sign=true}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div id="tableAjustements">
  </div>
  <div id="tableResolution">
  </div>
  <div id="tableProbaReussite">
  </div>
</form>

<script>
</script>