<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    
    {{!-- Sheet Body --}}
    <section class="sheet-body">
      <div class="form-group">
        <label for="xp">Caractéristique</label>
        <select name="data.carac" id="caracselect" data-dtype="String">
        {{#select item.data.carac}}
        {{#each caracList  as |carac key|}}
        <option value="{{key}}">{{carac.label}}</option>
        {{/each}}
        {{/select}}    
        </select>
      </div>
      <div class="form-group">
        <label for="xp">Compétence</label>
        <select name="data.competence" id="competenceselect" data-dtype="String">
        {{#select item.data.competence}}
        {{#each competences as |competence key|}}
        <option value="{{competence.name}}">{{competence.name}}</option>
        {{/each}}
        {{/select}}    
      </select>
    </div>
      <div class="form-group">
        <label for="xp">Difficulté</label>
        <input class="attribute-value" type="text" name="data.difficulte" value="{{data.difficulte}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Périodicité</label>
        <input class="attribute-value" type="text" name="data.periodicite" value="{{data.periodicite}}" data-dtype="String"/>
      </div>
      <div class="form-group">
        <label for="xp">Fatigue</label>
        <input class="attribute-value" type="text" name="data.fatigue" value="{{data.fatigue}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Points de tâches nécessaires</label>
        <input class="attribute-value" type="text" name="data.points_de_tache" value="{{data.points_de_tache}}" data-dtype="Number"/>
      </div>
      <div class="form-group">
        <label for="xp">Points de tâches obtenus</label>
        <input class="attribute-value" type="text" name="data.points_de_tache_courant" value="{{data.points_de_tache_courant}}" data-dtype="Number"/>
      </div>
      <span><label>Description : </label></span>
      <div class="form-group editor">
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
      </div>
     </section>
    
</form>
